{namespace t=Wwwision\Neos\TaskModule\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Module"/>
<f:section name="Content">
    <div class="neos-row-fluid">
        <div class="neos-span12">
						<h2><f:translate id="headline" package="Wwwision.Neos.TaskModule" source="Main"/></h2>
        </div>
        <f:if condition="{taskDescriptors}" else="{neos:backend.translate(id: 'noTasksConfigured', source: 'Main', package: 'Wwwision.Neos.TaskModule')}">
            <table class="neos-table neos-table-matchday-details">
                <thead>
                <tr>
                    <th><f:translate id="table.identifier" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                    <th><f:translate id="table.label" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                    <th><f:translate id="table.schedule" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                    <th><f:translate id="table.latestExecution" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                    <th><f:translate id="table.latestStatus" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                    <th><f:translate id="table.nextExecution" package="Wwwision.Neos.TaskModule" source="Main"/></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{taskDescriptors}" as="taskDescriptor">
                    <tr>
                        <td>
                            {taskDescriptor.task.identifier}
                        </td>
                        <td>
                            {taskDescriptor.task.label}
                        </td>
                        <td title="{taskDescriptor.task.cronExpression.expression}">
                            {taskDescriptor.task.cronExpression.expression -> t:format.cronExpression()}
                        </td>
                        <td>
                            <f:render partial="Timestamp" arguments="{dateTime: taskDescriptor.latestExecution.endTime}" />
                        </td>
                        <td>
                            <f:render partial="TaskStatus" arguments="{status: taskDescriptor.latestExecution.status}" />
                        </td>
                        <td>
                            <f:render partial="Timestamp" arguments="{dateTime: taskDescriptor.nextExecution.scheduleTime}" />
                            <f:if condition="{taskDescriptor.delayed}"><span class="neos-label-warning"><f:translate id="status.delayed" package="Wwwision.Neos.TaskModule" source="Main"/></span></f:if>
                        </td>
                        <td class="neos-action">
                            <div class="neos-pull-right">
                                <f:link.action action="show" arguments="{taskId: taskDescriptor.task.identifier}" class="neos-button" title="{neos:backend.translate(id: 'button.details', source: 'Main', package: 'Wwwision.Neos.TaskModule')}">
                                    <i class="fas fa-info-circle icon-white"></i>
                                </f:link.action>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:if>
    </div>
</f:section>
<f:section name="Footer">
    <f:security.ifAccess privilegeTarget="Wwwision.Neos.TaskModule:Tasks.RunAll">
        <f:form action="runAll" arguments="{taskId: task.identifier}" additionalAttributes="{style: 'display: inline'}">
            <f:form.submit value="{neos:backend.translate(id: 'button.runall', source: 'Main', package: 'Wwwision.Neos.TaskModule')}" class="neos-button neos-button-primary"/>
        </f:form>
    </f:security.ifAccess>
</f:section>
